In [35]:
import pm4py
import pandas as pd
import math

log = pm4py.read_xes("./datasets/event_logs/BPI_Challenge_2012.xes")

parsing log, completed traces :: 100%|██████████| 13087/13087 [00:05<00:00, 2337.55it/s]

In [36]:
flattern_log = ([{**event,
                    'caseid': trace.attributes['concept:name'],
                    'amount': trace.attributes['AMOUNT_REQ'],
                    }

                    for trace in log for event in trace])
df = pd.DataFrame(flattern_log)
df = df[df["lifecycle:transition"] == "COMPLETE"]
df["org:resource"] = [
    '-1' if math.isnan(float(r)) else r for r in df["org:resource"]]
df["org:resource"] = df["org:resource"].astype('category')
# df['resource'] = df["org:resource"].cat.codes
# resources = list(df["org:resource"].cat.categories)

In [38]:
df['resource'] = df["org:resource"].cat.codes
resources = list(df["org:resource"].cat.categories)

In [39]:
df.head(5)

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid,amount,resource
0,112,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,173688,20000,53
1,112,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,173688,20000,53
2,112,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,173688,20000,53
5,10862,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+02:00,173688,20000,14
6,10862,COMPLETE,O_SELECTED,2011-10-01 11:45:09.243000+02:00,173688,20000,14

In [26]:
df["org:resource"].cat.categories.insert(0, "<PAD>")

Index(['<PAD>', '-1', '10124', '10125', '10138', '10188', '10228', '10609',
       '10629', '10779', '10789', '10809', '10821', '10859', '10861', '10862',
       '10863', '10880', '10881', '10889', '10899', '10909', '10910', '10912',
       '10913', '10914', '10929', '10931', '10932', '10933', '10935', '10939',
       '10971', '10972', '10982', '11000', '11001', '11002', '11003', '11009',
       '11019', '11029', '11049', '11079', '11111', '11119', '11120', '11121',
       '11122', '11169', '11179', '11180', '11181', '11189', '112', '11200',
       '11201', '11202', '11203', '11254', '11259', '11269', '11289', '11299',
       '11300', '11302', '11304', '11309', '11319', '11339'],
      dtype='object')

In [31]:
resources =  list(df["org:resource"].cat.categories.insert(0, "<PAD>"))

In [33]:
df["resource"] = df["org:resource"].apply(lambda a: resources.index(a))

In [34]:
df.head(5)

,org:resource,lifecycle:transition,concept:name,time:timestamp,caseid,amount,resource
0,112,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,173688,20000,54
1,112,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,173688,20000,54
2,112,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,173688,20000,54
5,10862,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+02:00,173688,20000,15
6,10862,COMPLETE,O_SELECTED,2011-10-01 11:45:09.243000+02:00,173688,20000,15

In [36]:
{**event}

TypeError: 'Trace' object is not a mapping

In [38]:
import numpy as np
np.mean([int(event.attributes["AMOUNT_REQ"]) for event in log])

13573.356078551235

In [49]:
for trace in log:
    print(event)
    raise StopIteration

{'attributes': {'REG_DATE': datetime.datetime(2011, 10, 1, 0, 38, 44, 546000, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200))), 'concept:name': '173688', 'AMOUNT_REQ': '20000'}, 'events': [{'org:resource': '112', 'lifecycle:transition': 'COMPLETE', 'concept:name': 'A_SUBMITTED', 'time:timestamp': datetime.datetime(2011, 10, 1, 0, 38, 44, 546000, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200)))}, '..', {'org:resource': '10629', 'lifecycle:transition': 'COMPLETE', 'concept:name': 'W_Valideren aanvraag', 'time:timestamp': datetime.datetime(2011, 10, 13, 10, 37, 37, 26000, tzinfo=datetime.timezone(datetime.timedelta(seconds=7200)))}]}

StopIteration:

In [51]:
trace.attributes[""]

'20000'

In [15]:
df.head(5)

NameError: name 'df' is not defined

In [1]:
import tensorflow as tf
class BaselineLSTMWithResource(tf.keras.Model):
    def __init__(self,):
        pass

In [ ]:
activity_embedding_dim = 32
resource_embedding_dim = 32
activity_embeddding = tf.keras.layers.Embedding(
    input_dim = len(dataset.vocab),
    output_dim= = activity_embedding_dim,
    mask_zero= True,
)

resource_embedding_dim = tf.keras.layers.Embedding(
    input_dim = len(dataset.resources),
    output_dim = resource_embedding_dim,
    mask_zero = True
)

In [2]:
EnviromentParameters.BPI2020DatasetWithResource

Parameters.EnviromentParameters.EnviromentParameters.BPI2020DatasetWithResource

In [1]:
from Data import XESDatasetWithResource
from Parameters import TrainingParameters, EnviromentParameters

In [2]:
dataset = XESDatasetWithResource(file_path= EnviromentParameters.BPI2020DatasetWithResource.file_path, preprocessed_folder_path=EnviromentParameters.BPI2020DatasetWithResource.preprocessed_foldr_path, preprocessed_df_type= EnviromentParameters.BPI2020DatasetWithResource.preprocessed_df_type,include_types=TrainingParameters.bpi2012.BPI2012_include_types)

=================================================
| Preprocessed data loaded successfully: ./datasets/preprocessed/BPI_Challenge_2012_with_resource/AOW
=================================================

In [3]:
caseids, padded_data_traces, lengths, padded_data_resources, batch_amount, padded_target_traces = dataset.collate_fn([0,1,2])

In [6]:
padded_data_traces

array([[ 2, 12,  9, 10,  3, 17,  8, 15, 19, 22, 24, 24, 18, 24, 11,  5,
        13,  4, 25,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 2, 12,  9, 10, 22,  3,  8, 17, 15, 19, 22, 24, 14, 17, 15, 19,
        24, 24, 18, 24, 25, 25, 13,  4,  5, 11, 25,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 2, 12,  9, 10, 22, 22, 22,  3, 17,  8, 15, 19, 22, 17, 14, 15,
        19, 24, 24, 24, 24, 17, 14, 15, 19, 24, 24, 24, 24, 24, 24, 18,
        24, 13,  5, 11,  4, 25]], dtype=int32)