In [1]:
from Models import BaseNN
from Data import MedicalDataset
from Parameters import EnviromentParameters
import pandas as pd
import numpy as np

In [2]:
d = MedicalDataset(EnviromentParameters.DiabetesDataset.file_path, 
target_col_name= EnviromentParameters.DiabetesDataset.target_name,
feature_names = EnviromentParameters.DiabetesDataset.feature_names
)

In [3]:
df = pd.read_csv(EnviromentParameters.DiabetesDataset.file_path)

In [4]:
count_dict = dict(df["Outcome"].value_counts())
max_count = max(count_dict.values())

In [5]:
need_dict = {}
for k in  count_dict.keys():
    need_dict[k] = max_count - count_dict[k]

In [6]:
for k in need_dict.keys():
    if (need_dict[k] > 0):
        group_idxs = list(df[df["Outcome"] == k].index)
        append_idxs = np.random.choice(group_idxs, size=need_dict[k])
        df = df.append(df.iloc[append_idxs], ignore_index=True)

In [7]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
995,1,117,88,24,145,34.5,0.403,40,1
996,0,131,66,40,0,34.3,0.196,22,1
997,5,85,74,22,0,29.0,1.224,32,1
998,14,175,62,30,0,33.6,0.212,38,1
999,9,156,86,0,0,24.8,0.230,53,1

In [8]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
995,1,117,88,24,145,34.5,0.403,40,1
996,0,131,66,40,0,34.3,0.196,22,1
997,5,85,74,22,0,29.0,1.224,32,1
998,14,175,62,30,0,33.6,0.212,38,1
999,9,156,86,0,0,24.8,0.230,53,1